{{ define "crd" }}

# {{ .Name }}

{{ range .Declarations "alphabetical" }}

## <a id="{{ .Name }}"></a>{{ .Name }}

{{ .Description | unwrap -}}

{{ with . | asObject }}
{{ template "usage" . }}
{{ template "properties" . }}
{{ end }}

{{- with . | asEnum }}
{{ template "usage" . }}
{{ template "values" . }}
{{ end -}}

{{ end -}}
{{ end -}}
