{{ define "property" -}}
| {{ .Name -}} 
| {{ .Description | unwrap -}} 
| {{ if .Type | createLink -}}
[
{{- end -}}
{{- .Type.Name -}}
{{- if .Type | createLink -}}
]({{ .Type | createLink }})
{{- end -}}
{{ if .Required -}}
<br/>{{ .Required -}}
{{ end -}} |
{{- end }}