{{ define "properties" }}

{{ with . | asObject }}
{{ if .Properties -}}
| Name | Description | Type |
| ---- | ----------- | ---- |
{{ range .Properties -}}
{{ template "property" . }}
{{ end -}}

{{ end -}}
{{ end }}

{{ end }}