{{ define "class-diagram" -}}

{{ "```mermaid" }}
---
  config:
    class:
      hideEmptyMembersBox: true
---
classDiagram

{{ $id := .ID -}}
{{- $name := .Name -}}

{{/* Create class declaration */}}
{{- with . | asPropertyContainer -}}
class {{ $id }}["{{ $name }}"]
{{- if or (.Properties | excludeInternal) (and includeFunctions .Functions) -}} {
  {{- range .Properties | sortProperties -}}
    {{- if not (.Type | isInternalType) }}  
      {{ . | propertyDisplayName }} {{ .Type.Display }}
    {{- end -}}
  {{- end -}}
  {{- if includeFunctions -}}
    {{- range .Functions }}  
      {{ .Name }}(
      {{- range $i, $p := .Parameters -}}
        {{- if $i }}, {{ end -}}
        {{- if $p.Name }}{{ $p.Name }}: {{ end -}}
        {{- $p.Type.Display -}}
      {{- end -}}
      )
      {{- if .Results }}
        {{- range $i, $r := .Results -}}
          {{- if $i }}, {{ end -}}
          {{- if $r.Name }}{{ $r.Name }}: {{ end -}}
          {{- $r.Type.Display -}}
        {{- end -}}
      {{- end }}
    {{- end -}}
  {{- end }}
{{ "\n" -}} {{/* Have to have a blank line here to avoid parsing errors when there are no properties */}}
} {{ "\n" -}}
{{- end -}}
{{- end -}}
{{ "\n" -}}

{{/* Inbound references - types that reference this type */}}
{{- range .Usage -}}
  {{- $propRef := . -}}
  {{- with $referencingType := .HostID | lookupDeclaration -}}
{{ $referencingType.ID }} -- {{ $id }} : {{ $propRef.Property }} {{ "\n" -}}
  {{- end -}}
{{- end -}}
{{ "\n" -}}

{{/* Outbound references - types this type references */}}
{{- range .Properties -}}
  {{- if .Type | isInternalType -}}
    {{- $propertyName := . | propertyDisplayName -}}
    {{- with $relatedType := .Type.ID | lookupDeclaration -}}
{{ $id }} -- {{ $relatedType.ID }} : {{ $propertyName }} {{ "\n" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{ "\n" -}}

{{/* Add class nodes for inbound references */}}
{{- range .Usage -}}
  {{- with $referencingType := .HostID | lookupDeclaration -}}
class {{ $referencingType.ID }}["{{ $referencingType.Display }}"]
    {{- "\n" -}}
  {{- end -}}
{{- end -}}

{{/* Add class nodes for outbound references */}}
{{- range .Properties -}}
  {{- if .Type | isInternalType -}}
    {{- with $relatedType := .Type.ID | lookupDeclaration -}}
class {{ $relatedType.ID }}["{{ $relatedType.Display }}"]
    {{- "\n" -}} 
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- "\n```" }}
{{ end }}
