{{ define "function" -}}
| {{ .Name -}}
| {{ .Description | inlineLinks | unwrap | applyEdits -}} 
| {{ range $i, $p := .Parameters -}}
{{- if $i }},<br/>{{ end -}}
{{- if $p.Name }}{{ $p.Name }} {{ end -}}
{{- $p.Type.Display -}}
{{- end -}} 
| {{ range $i, $r := .Results -}}
{{- if $i }}, {{ end -}}
{{- if $r.Name }}{{ $r.Name }} {{ end -}}
{{- $r.Type.Display -}}
{{- end -}} |
{{- end }}
